
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ticket_compra {
    padding: 2rem;
    border: 5px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.cant_producto {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.data_producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
button#btnrestar{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
button#btnsumar{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.encabezado_ticket{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
}
.pie_ticket{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

button.carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
a.compra{
    background-color: rgb(113, 221, 113);
}
a.cancel{
    background-color: rgb(223, 110, 110);
}
img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(0, 0, 0, 0.54);
}
.frente {
    display: flex;
    flex-wrap: wrap;
}