body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-coffee-fragrance-vintage-background-image_125053.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
margin-bottom: 3rem;
}